//colors
$light-cyan-primary: hsl(172, 67%, 45%);
$dark-cyan-primary: hsl(183, 100%, 15%);
$dark-grey-text: hsl(186, 14%, 43%);
$light-grey-text: hsl(184, 14%, 56%);
$background: hsl(185, 41%, 84%);
$text-content: hsl(189, 41%, 97%);
$white: hsl(0, 0%, 100%);
$validation: hsl(0, 94%, 60%);

//font
$spacemono: "Space Mono", monospace;
